{% extends 'base.html' %}

{% block title %} curso django {% endblock %}

{% block content %} 
  <p>esta es la hora actual {{dameFecha}}</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bg82FqrCjcs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/d1-UX6aR_TM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %} 